
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
# **DATA STRUCTURE AND ALGORITHMS TOPIC 01**

**#01: ACCESS LIST ITEMS**

In [1]:
names = ["Ben","Jane","Mark","John","Marie"]
print(names[1]) #prints first element

Jane

**#02: ACCESS LIST ITEMS USING NEGATIVE INDEX**

In [2]:
names = ["Ben","Jane","Mark","John","Marie"]
print(names[-1]) #print last element (starts counting on -1,-2,-3 from the last element towards the first !!!!! not O,-1,-2)

Marie

**#03: ACCESS LIST ITEMS - RANGE OF INDEXES**

In [4]:
names = ["Ben","Jane","Mark","John","Marie"]
print(names[1:3]) #second element to third element
print(names[:4]) #first element to fourth element (no start value, means it will print from the starting element)
print(names[3:]) #third element to last element (no end value, means it prints till the last element)

#REMINDER!!!! (:) when no start value or end value, automatically it will print from the start to end of the list items

['Jane', 'Mark']
['Ben', 'Jane', 'Mark', 'John']
['John', 'Marie']

**#04: ACCESS LIST ITEMS - RANGE OF NEGATIVE INDEXES**

In [9]:
names = ["Ben","Jane","Mark","John","Marie","Jose"]
print(names[-3:-1]) # 4th to 5th element
print(names[:-4]) # 1st to 2nd element
print(names[-3:]) # 4th to last

['John', 'Marie']
['Ben', 'Jane']
['John', 'Marie', 'Jose']

**#05: CHECK IF ITEM EXISTS**

In [11]:
names = ["Ben","Jane","Mark","John","Marie","Jose"]
if "Mark" in names:
    print("Mark is in the list")

Mark is in the list

**#06: CHANGING ITEM VALUE**

In [12]:
names = ["Ben","Jane","Mark","John","Marie","Jose"]
names[0] = "Gwen" #names[0] is Ben so he will be replaced by Gwen
print(names)

['Gwen', 'Jane', 'Mark', 'John', 'Marie', 'Jose']

**#07: CHANGING A RANGE OF ITEM VALUES**

In [14]:
names = ["Ben","Jane","Mark","John","Marie","Jose"]
names[1:3] = ["James","Efren"]
print(names)

['Ben', 'James', 'Efren', 'John', 'Marie', 'Jose']

**#08: INSERT ITEM**

In [17]:
names = ["Ben","Jane","Mark","John","Marie","Jose"]
names.insert(0,"Robert") #Robert will be added at the first element
print(names)

['Robert', 'Ben', 'Jane', 'Mark', 'John', 'Marie', 'Jose']

**#09: APPEND ITEMS**

In [18]:
names = ["Ben","Jane","Mark","John","Marie","Jose"]
names.append("Brownie") #will be added to the last 
print(names)

['Ben', 'Jane', 'Mark', 'John', 'Marie', 'Jose', 'Brownie']

**!!!RECAP: Use insert() to add item on a list in any position you like / Use append() to add an item to the last element**

**#10: REMOVE LIST ITEMS - REMOVE SPECIFIED ITEM**

In [25]:
names = ["Ben","Jane","Mark","John","Marie","Jose"]
names.remove("Ben") # Ben will be removed , uses "Ben" an exact value instead of index
print(names)

['Jane', 'Mark', 'John', 'Marie', 'Jose']

**#11.1: REMOVE LIST ITEMS - REMOVE SPECIFIED INDEX USING POP()**

In [22]:
names = ["Ben","Jane","Mark","John","Marie","Jose"]
names.pop(2) #names[2] is Mark so he will be removed
print(names)

['Ben', 'Jane', 'John', 'Marie', 'Jose']

**#11.2 : ACCESS ITEM USING POP()**

In [23]:
names = ["Ben","Jane","Mark","John","Marie","Jose"]
item = names.pop(2) #names[2] using pop to access "Mark"
print(item)

Mark

**#12: REMOVE LIST ITEMS - REMOVE SPECIFIED INDEX USING DEL**

In [24]:
names = ["Ben","Jane","Mark","John","Marie","Jose"]
del names[2] #Mark will be deleted completely
print(names)

['Ben', 'Jane', 'John', 'Marie', 'Jose']

**!!RECAP: Use remove() when you know the exact value of the item to remove / Use del when removing an element base on index**

**#13: CLEAR THE LIST**

In [27]:
names = ["Ben","Jane","Mark","John","Marie","Jose"]
names.clear() #clear all the items on the list, returns an empty list
print(names)

[]

**#14: LOOP LISTS USING FOR LOOP**

In [29]:
names = ["Ben","Jane","Mark","John","Marie","Jose"]
for name in names: # for each name in names: print name
    print(name)

Ben
Jane
Mark
John
Marie
Jose

**#15: LOOP LISTS USING WHILE LOOP**

In [34]:
names = ["Ben","Jane","Mark","John","Marie","Jose"]
counter = 0 
while counter < len(names): #to ensure all the items on the list will be printed, as well as stop the loop when the counter is greater than the items on the list
    print(names[counter]) #each loop will from (0,1,2,3 so on) will act as an index for a name to be printed
    counter += 1 #adding 1 for every loop to proceed onto the next item on the list

Ben
Jane
Mark
John
Marie
Jose

**#16.1: SORT LISTS**

In [36]:
names = ["Ben","Jane","Mark","John","Marie","Jose"]
names.sort() #list of names will be sort ALPHABETICALLY 
print(names)

numbers = [3,4,2,1,5]
numbers.sort() #from LOW to HIGH
print(numbers)

['Ben', 'Jane', 'John', 'Jose', 'Marie', 'Mark']
[1, 2, 3, 4, 5]

**#16.2: SORT LISTS IN REVERSE**

In [40]:
#using sort(reverse = True)
names = ["Ben","Jane","Mark","John","Marie","Jose"]
names.sort(reverse = True) 
print(names) #list of names will be sort REVERSE alphabetically (Z-A)

numbers = [3,4,2,1,5]
numbers.sort(reverse = True) 
print(numbers) #from HIGH to LOW

['Mark', 'Marie', 'Jose', 'John', 'Jane', 'Ben']
[5, 4, 3, 2, 1]

**#17.1: COPY A LIST USING COPY()**

In [41]:
numbers = [1,2,3,4,5]
mylist1 = numbers.copy()
print(mylist1)

[1, 2, 3, 4, 5]

**#17.2: COPY A LIST USING LIST()**

In [43]:
numbers = [1,2,3,4,5]
mylist = list(numbers)
print(mylist)

[1, 2, 3, 4, 5]

**#18.1: JOIN LISTS USING +**

In [51]:
list1 = [1,2,3,4]
list2 = [5,6]
mylist = list1 + list2
print(mylist)

[1, 2, 3, 4, 5, 6]

**#18.2: JOIN LISTS USING APPEND()**

In [50]:
list1 = [1,2,3,4]
list2 = [5,6]
for num in list2:
    list1.append(num)
print(list1)

[1, 2, 3, 4, 5, 6]

**#18.3: JOIN LISTS USING EXTEND**

In [52]:
list1 = [1,2,3,4]
list2 = [5,6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]